<h1>Places</h1>

<% if @current_user %>  
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  
  <a href="/places/new" class="btn btn-outline-secondary">New place</a>
  
  
</p>
<% else %>
<u><i>  Login to use the Travel Blog </u></i>
<% end %>